@layer base {
  :root,
  html[data-theme="light"] {
    --color-core: 255 255 255;
    --color-core-content: 0 0 0;
    --color-crust: 244 244 245;
    --color-crust-content: 24 24 27;
    --color-primary: 39 39 42;
    --color-primary-content: 244 244 245;
    --color-secondary: 228 228 231;
    --color-secondary-content: 39 39 42;
    --color-link: 59 130 246;
  }
  html[data-theme="dark"] {
    --color-core: 24 24 27;
    --color-core-content: 209 213 219;
    --color-crust: 31 31 34;
    --color-crust-content: 209 213 219;
    --color-primary: 254 254 255;
    --color-primary-content: 39 39 42;
    --color-secondary: 39 39 42;
    --color-secondary-content: 212 212 216;
    --color-link: 34 211 238;
  }
}
