@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./variables.css");
@import url("./animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
html {
  overflow-y: scroll;
}

html.is-changing .transition-fade {
  @apply transition-all duration-200;
}

html.is-animating .transition-fade {
  @apply translate-y-4 opacity-0;
}

html.is-leaving .transition-fade {
  @apply translate-y-4 opacity-0;
}

body {
  @apply border-border;
}

* ::-webkit-scrollbar {
  @apply fixed h-1 w-2;
}
* ::-webkit-scrollbar-track {
  @apply mx-1 rounded-md bg-transparent;
}
* ::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded-md bg-zinc-200 dark:bg-hover;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
