@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Atkinson+Hyperlegible&family=Rammetto+One&family=Rubik&display=swap&family=Signika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-core: 255 255 255;
    --color-core-content: 0 0 0;
    --color-crust: 244 244 245;
    --color-crust-content: 24 24 27;
    --color-primary: 39 39 42;
    --color-primary-content: 244 244 245;
    --color-secondary: 228 228 231;
    --color-secondary-content: 39 39 42;
    --color-link: 59 130 246;
  }
  html[data-theme="dark"] {
    --color-core: 24 24 27;
    --color-core-content: 209 213 219;
    --color-crust: 31 31 34;
    --color-crust-content: 209 213 219;
    --color-primary: 254 254 255;
    --color-primary-content: 39 39 42;
    --color-secondary: 39 39 42;
    --color-secondary-content: 212 212 216;
    --color-link: 34 211 238;
  }
}

/* Scrollbar */
html {
  overflow-y: scroll;
}
* ::-webkit-scrollbar {
  @apply fixed h-1 w-2;
}
* ::-webkit-scrollbar-track {
  @apply mx-1 rounded-md bg-transparent;
}
* ::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded-md bg-zinc-200 dark:bg-hover;
}
.info-button {
  @apply flex h-8 items-center gap-2 whitespace-nowrap rounded-full bg-gray-200 px-4 font-medium dark:bg-hover;
}
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
