@tailwind base;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-core: 247 247 247;
    --color-core-content: 35 31 32;
    --color-primary: 39 39 42;
    --color-primary-content: 244 244 245;
    --color-secondary: 212 212 216;
    --color-secondary-content: 39 39 42;
    --color-link: 83 163 242;
    --color-link-background: 226 240 255;

    --color-border: 228 228 231;
    --color-hover: 235 235 235;
    --color-muted: 82 82 91;
    --color-title: 39 39 42;

    --color-success: 34 197 94;
    --color-info: 83 163 242;
    --color-alert: 251 191 36;
    --color-error: 239 68 68;

    --color-yellow: 217 119 6;
    --color-red: 220 38 38;
    --color-orange: 234 88 12;
    --color-green: 22 163 74;
    --color-emerald: 5 150 105;
    --color-teal: 13 148 136;
    --color-cyan: 8 145 178;
    --color-sky: 2 132 199;
    --color-blue: 37 99 235;
    --color-indigo: 79 70 229;
    --color-violet: 124 58 237;
    --color-pink: 219 39 119;
    --color-rose: 225 29 72;
    --color-fuchsia: 192 38 211;
  }

  html[data-theme="dark"] {
    --color-core: 24 24 27;
    --color-core-content: 209 213 219;
    --color-primary: 254 254 255;
    --color-primary-content: 39 39 42;
    --color-secondary: 63 63 70;
    --color-secondary-content: 212 212 216;
    --color-link: 99 179 255;
    --color-link-background: 40 55 71;

    --color-border: 39 39 42;
    --color-hover: 39 39 42;
    --color-muted: 161 161 170;
    --color-title: 254 254 255;

    --color-success: 34 197 94;
    --color-info: 96 165 250;
    --color-alert: 252 211 77;
    --color-error: 248 113 113;

    --color-yellow: 250 204 21;
    --color-red: 248 113 113;
    --color-orange: 251 146 60;
    --color-green: 74 222 128;
    --color-emerald: 52 211 153;
    --color-teal: 45 212 191;
    --color-cyan: 34 211 238;
    --color-sky: 56 189 248;
    --color-blue: 96 165 250;
    --color-indigo: 129 140 248;
    --color-violet: 167 139 250;
    --color-pink: 244 114 182;
    --color-rose: 251 113 133;
    --color-fuchsia: 232 121 249;
  }
}
