---
import { type ProjectType } from "src/content.config";
interface Props extends Pick<ProjectType, "features"> {}

const { features } = Astro.props;
---

<h3 class="onload-animation pt-4 text-2xl font-bold">Features</h3>
<ul class="onload-animation flex flex-col gap-2">
  {
    features?.map((feature) => (
      <li class="inline-flex gap-2">
        <span>•</span> {feature}
      </li>
    ))
  }
</ul>
