---
import { type IconKey, icons } from "@/lib/icons";
import { type ProjectType } from "src/content.config";

interface Props extends Pick<ProjectType, "stack"> {}

const { stack } = Astro.props;
---

<h3 class="onload-animation pt-4 text-2xl font-bold">Technologies</h3>
<ul class="onload-animation flex flex-col gap-4">
  {
    stack?.map((name) => {
      const icon = icons?.[name as IconKey];

      if (!icon) return null;

      const source = icon?.source ?? "#";
      return (
        <li class="prose flex gap-2 text-sm xs:text-base">
          <span>
            <a
              href={source}
              class="font-medium capitalize underline underline-offset-2"
            >
              {icon.name}
            </a>
            {" – "}
            <span class="text-core-content">{icon.about}</span>
          </span>
        </li>
      );
    })
  }
</ul>
