---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<Layout title="Archive">
  <div class="flex flex-col gap-2">
    {
      allPosts.map((post) => (
        <a href={`/blog/post/${post.slug}`}>{post.data.title}</a>
      ))
    }
  </div>
</Layout>
