---
import Layout from "@layouts/Layout.astro";
import PostFormat from "@components/blog/PostFormat.astro";
import { getSortedPosts } from "@utils/content-utils";

const allBlogPosts = await getSortedPosts();
---

<Layout title="Home">
  <div class="space-y-4 text-core-content md:flex-row md:gap-14">
    <p class="text-3xl font-bold">Sup! I'm Ray</p>
    <p>
      ... I love building things. When I'm bored, I tinker with my Linux distro
      and make unnecessary improvements. As a Linux nerd, it's practically
      criminal not to be fond of anime. When I'm not doing any of those, I enjoy
      playing games and reading thriller novels.
    </p>
  </div>
  <div
    class="mb-6 mt-10 inline-flex w-full justify-between font-bold text-core-content"
  >
    <span>Recent Posts</span>
    <a href="/blog" class="font-normal underline underline-offset-4">View All</a
    >
  </div>
  <div class="flex flex-col gap-4">
    {
      allBlogPosts.map((blogPostEntry) => (
        <PostFormat
          FrontMatter={blogPostEntry.data}
          slug={blogPostEntry.slug}
        />
      ))
    }
  </div>
</Layout>
