---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostFormat from "@components/blog/PostFormat.astro";
const allBlogPosts = await getCollection("blog");
---

<Layout>
  <div class="flex flex-col gap-2 md:flex-row md:gap-28">
    <span class="font-ramettoOne text-2xl">
      Hello,<p class="mt-3">I'm not Groot</p>
    </span>
    <span class="flex flex-col justify-center font-medium">
      <p>I'm a programmer and Linux enthusiast,</p>
      <p>as well as an anime lover. Care to</p>
      <p>join me on a tech journey?</p>
    </span>
  </div>
  <h4 class="mb-6 mt-10 text-xl font-extrabold">Recent Posts</h4>
  <div class="flex flex-col gap-4">
    {
      allBlogPosts.map((blogPostEntry) => (
        <PostFormat
          FrontMatter={blogPostEntry.data}
          slug={blogPostEntry.slug}
        />
      ))
    }
  </div>
</Layout>
