---
import Layout from "@layouts/Layout.astro";
import PostFormat from "@components/blog/PostFormat.astro";
import { getSortedPosts } from "@utils/content-utils";
import readingTime from "reading-time";
import { buttonVariants } from "@components/ui/Button.astro";

const allBlogPosts = (await getSortedPosts()).slice(0, 3);
---

<Layout title="Home">
  <div id="animation-container">
    <div class="onload-animation space-y-4 md:flex-row md:gap-14">
      <h2 class="text-3xl font-bold text-title">Sup! I&apos;m Ray</h2>
      <p>
        ... I love building things. When I'm bored, I tinker with my Linux
        distro and make unnecessary improvements. As a Linux nerd, it's
        practically criminal not to be fond of anime. When I'm not doing any of
        those, I enjoy playing games and reading thriller novels.
      </p>
    </div>
    <hr class="onload-animation my-4 border-border" />
    {
      allBlogPosts.map((entry) => (
        <div class="onload-animation">
          <PostFormat
            FrontMatter={entry.data}
            postId={entry.id}
            minutes={readingTime(entry?.body ?? "").minutes}
          />
          <hr class:list={["onload-animation my-4 border-border"]} />
        </div>
      ))
    }
  </div>
  <div class="onload-animation inline-flex w-full justify-end">
    <a href="/blogs" class={buttonVariants({ variant: "outline" })}>
      <span>Read More Posts</span>
      <span
        class="iconify text-xl transition-transform duration-500 tabler--chevron-right sm:text-sm"
      ></span>
    </a>
  </div>
</Layout>
