<div id="darkModeToggle" class="group flex items-center hover:text-blue-600">
  <span id="light" class="absolute flex items-center">
    <!-- <Icon name="lucide:sun" class={`${iconClass} group-hover:rotate-12`} /> -->
    <span class="iconify top-1/2 rotate-180 text-2xl tabler--circle-half-2"
    ></span>
  </span>
  <span id="dark" class="flex items-center">
    <span class="iconify text-2xl tabler--circle-half-2"></span>
  </span>
</div>

<style>
  #light,
  html[data-theme="dark"] #dark {
    opacity: 0;
  }
  #dark,
  html[data-theme="dark"] #light {
    opacity: 100;
  }
</style>

<script is:inline>
  const lightIcon = document.getElementById("light")?.classList;
  const darkIcon = document.getElementById("dark")?.classList;

  const handleSwitchIcon = () => {
    lightIcon?.toggle("opacity-0");
    darkIcon?.toggle("opacity-0");
  };

  const handleToggleClick = () => {
    const element = document.documentElement;
    document.documentElement.setAttribute(
      "data-theme",
      element.getAttribute("data-theme") !== "dark" ? "dark" : "light"
    );
    handleSwitchIcon();
    const isDark = element.getAttribute("data-theme") === "dark";
    localStorage.setItem("theme", isDark ? "dark" : "light");
  };

  document
    .getElementById("darkModeToggle")
    .addEventListener("click", handleToggleClick);
</script>
