<div
  class="font-rubik flex h-full w-full flex-col items-center gap-1 pt-5 text-xs tracking-wide text-accent"
>
  <div>
    Copyright © <span class="font-bold">rayshold</span>
    <span class="mx-1.5 font-bold text-gray-400">I</span>2023 - 2024
  </div>
  <div>
    Made By <span class="font-bold">RAY</span>
  </div>
</div>
