<div
  class="flex items-center justify-start gap-4 rounded-md bg-zinc-50 px-4 py-2.5 text-sm font-medium text-gray-700 transition-all duration-300 hover:bg-zinc-200 active:scale-95 dark:bg-zinc-800 dark:text-gray-300 dark:hover:bg-zinc-700"
>
  <slot />
</div>
