<div
  class="text-secondary-content hover:text-primary-content flex items-center justify-start gap-4 rounded-md bg-secondary px-4 py-2.5 text-sm font-medium transition-all duration-300 hover:bg-primary active:scale-95"
>
  <slot />
</div>
