---
import NavLink from "./NavLink.astro";
import Icon from "astro-icon";
import Social from "@components/ui/Social.astro";
import ProfileImage from "./ProfileImage.astro";
import Divider from "./Divider.astro";
import SidebarFooter from "./SidebarFooter.astro";
import { sidebarLinks as links } from "./sidebar-links";
---

<div
  id="sidebar-backdrop"
  class="fixed inset-0 z-20 bg-black/70 transition-opacity duration-300"
>
</div>
<div
  id="sidebar"
  class="bg-base fixed left-0 z-30 flex h-full w-72 -translate-x-full select-none flex-col justify-between overflow-y-auto border-border bg-core px-4 pt-6 text-primary shadow-xl transition-transform duration-300 sm:rounded-lg sm:border"
>
  <div class="pt-1">
    <!-- HEADER START   -->
    <div class="flex w-full justify-center py-2">
      <div class="flex flex-col items-center gap-3">
        <ProfileImage />
        <div
          class="inline-flex w-full items-center justify-center text-xs font-medium"
        >
          <span class="tracking-widest">RAY</span>
          <Icon name="bi:dot" class="w-5" />
          <a
            href="https://www.16personalities.com/profiles/isfj-t/m/7t0bkptmp"
            target="_blank"
            class="tracking-widest">ISFJ-T</a
          >
          <Icon name="bi:dot" class="w-5" />
          <span class="tracking-widest">LOVES LINUX</span>
        </div>
        <Social />
      </div>
    </div>
    <!-- HEADER END -->
    <!-- LINKS START -->
    <div class="flex flex-col gap-3 space-y-4 pt-4">
      {
        Object.keys(links).map((key) => (
          <div>
            <Divider>{key}</Divider>
            <ul class="space-y-2">
              {links[key]?.map((social) => (
                <li>
                  <a href={social.link} target="_blank" class="sm:text-sm">
                    <NavLink>
                      <span class:list={[social.icon, "text-xl sm:text-lg"]} />
                      <span>{social.label}</span>
                    </NavLink>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <!-- LINKS END -->
  </div>
  <!-- FOOTER START -->
  <div class="pb-4">
    <SidebarFooter />
  </div>
  <!-- FOOTER END -->
</div>

<style>
  #sidebar-backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  #sidebar-backdrop.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
</style>

<script src="./toggleSiebar.ts"></script>
