---
import dayjs from "dayjs";

export interface Props {
  date: Date;
  words: number;
}

const { date, words } = Astro.props;

const defaultClasses =
  "inline-flex text-sm  gap-1 text-primary/70 items-center";
---

<!-- PUBLISH DATE -->
<span class={`capitalize ${defaultClasses}`}>
  <span id="header-icons">
    <span class="iconify tabler--calendar-event"></span>
  </span>
  <span> {dayjs(date).format("DD/mm/YYYY")}</span>
</span>

<!-- READING TIME -->

<span class={defaultClasses}>
  <span id="header-icons">
    <span id="icon" class="iconify tabler--clock-hour-4"></span>
  </span>
  <span>
    {Math.ceil(words / 200)}{" "}Min.
  </span>
</span>

<!-- WORD COUNT -->

<span class={defaultClasses}>
  <span id="header-icons">
    <span id="icon" class="iconify tabler--pencil"></span>
  </span>
  {words} Words.
</span>

<style>
  .iconify {
    @apply text-lg text-core-content/80;
  }

  #header-icons {
    @apply flex size-7 items-center justify-center rounded-md bg-hover p-0;
  }
</style>
