---
import dayjs from "dayjs";

export interface Props {
  FrontMatter: {
    title: string;
    description: string;
    publishDate: Date;
  };
  postId: string;
  minutes: number;
}
const { FrontMatter, postId, minutes } = Astro.props;
---

<a
  href={`/blogs/post/${postId}`}
  class="noSelect flex flex-col gap-2 rounded-lg transition-transform duration-150 active:scale-95"
>
  <h3 class="border-dotted text-xl font-medium text-title">
    {FrontMatter.title}
  </h3>
  <p class="line-clamp-2 text-sm">{FrontMatter.description}</p>
  <div class="flex gap-3 pt-6 text-xs">
    <span class="flex items-center gap-1 capitalize">
      <span class="iconify text-lg tabler--calendar-event"></span>
      {dayjs(FrontMatter.publishDate).format("DD MMM, YYYY")}
    </span>
    <span>|</span>
    <span class="flex items-center gap-1 capitalize">
      <span class="iconify text-lg tabler--clock-hour-4"></span>
      {Math.round(minutes)}
      {`${minutes > 1 ? " Mins" : " Min"}`}
    </span>
  </div>
</a>
