---
import { formatDateTime } from "@utils/formatter";
import Icon from "astro-icon";

export interface Props {
  FrontMatter: {
    title: string;
    description: string;
    publishDate: Date;
  };
  slug: string;
}
const { FrontMatter, slug } = Astro.props;
---

<a
  href={`/blog/post/${slug}`}
  class="noSelect flex flex-col gap-2 rounded-lg border border-border p-4 text-crust-content transition-transform duration-150 active:scale-95"
>
  <span class="border-dotted text-xl font-medium">
    {FrontMatter.title}
  </span>
  <p class="line-clamp-2 text-sm">{FrontMatter.description}</p>
  <div class="flex gap-3 pt-3 text-xs">
    <span class="flex items-center gap-1 capitalize">
      <Icon name="lucide:calendar" class="w-4" />
      {formatDateTime(FrontMatter.publishDate)}
    </span>
    <span>|</span>
    <span class="flex items-center gap-1 capitalize">
      <Icon name="lucide:clock" class="w-4" />
      4&nbsp;minutes
    </span>
  </div>
</a>
