---
import Platforms from "./Platforms.astro";
type link = {
  list: string[];
  platforms: string[];
  type?: string[];
};
export interface Props {
  links: link[];
}
const { links } = Astro.props;
---

<div class="flex w-full flex-col gap-2 text-secondary-content">
  {
    links.map((data) => (
      <div class="inline-flex flex-wrap gap-4">
        <div class="inline-flex flex-wrap items-center gap-1">
          {data.list.map((software, index) => (
            <span class="inline-flex items-center">
              <a href={`https://${software.split("|")[1]}`}>
                {software.split("|")[0]}
              </a>
              {data.list.length - 1 !== index && ","}
            </span>
          ))}
        </div>
        <Platforms list={data.platforms} />
      </div>
    ))
  }
</div>
