---
import Accordion from "@components/ui/Accordion";

interface Heading {
  depth: number;
  text: string;
  slug: string;
}

const { headings } = Astro.props;
---

<Accordion title="Open Table of Contents" client:load>
  <ul class="prose list-disc space-y-1">
    {
      headings.map((h: Heading) => (
        <li>
          <a href={`#${h.slug}`}>{h.text}</a>
        </li>
      ))
    }
  </ul>
</Accordion>
