---
import Layout from "@layouts/Layout.astro";
import { getSortedPosts } from "@utils/content-utils";
import CardFormat from "./CardFormat.astro";
import type { PostType } from "src/content/config";

const allBlogPosts = await getSortedPosts();
---

<Layout title="Blogs">
  <div id="animation-container" class="space-y-6">
    {
      allBlogPosts.map((post: PostType) => (
        <CardFormat
          slug={post.slug}
          title={post.data.title}
          description={post.data.description}
          image={post.data.image}
        />
      ))
    }
  </div>
</Layout>
