---
import Icon from "astro-icon";

const socialLinks = [
  { icon: "tabler:brand-github", url: "github.com/ImRayy", width: 24 },
  { icon: "tabler:brand-telegram", url: "telegram.me/im_rayy", width: 24 },
  { icon: "tabler:brand-reddit", url: "reddit.com/user/_ImRay_", width: 24 },
];
---

<div class="flex items-center gap-1 text-secondary-content">
  {
    socialLinks.map((l) => (
      <a
        href={`https://${l.url}`}
        target="_blank"
        class="rounded-full p-2 transition-colors hover:bg-primary  hover:text-primary-content"
      >
        <Icon name={l.icon} width={l.width} />
      </a>
    ))
  }
</div>
