---
const socialLinks = [
  { icon: "iconify tabler--brand-github", url: "github.com/ImRayy" },
  { icon: "iconify tabler--brand-telegram", url: "telegram.me/im_rayy" },
  { icon: "iconify tabler--brand-reddit", url: "reddit.com/user/_ImRay_" },
];
---

<div class="flex items-center gap-1 text-secondary-content">
  {
    socialLinks.map((l) => (
      <a
        href={`https://${l.url}`}
        target="_blank"
        class="flex size-10 items-center justify-center rounded-full text-2xl transition-colors hover:bg-primary hover:text-primary-content  active:bg-primary  sm:size-8 sm:text-xl"
      >
        <span class:list={[l.icon]} />
      </a>
    ))
  }
</div>
