---
import Icon from "astro-icon";

const className =
  "rounded-full  transition-all  duration-500 hover:scale-110 text-2xl sm:text-xl";
---

<div class="flex items-center gap-5 text-secondary-content">
  <a href="https://github.com/ImRayy" target="_blank" class={`${className} `}>
    <Icon name="bi:github" class="w-6" />
  </a>
  <a href="https://telegram.me/im_rayy" target="_black" class={`${className}`}>
    <Icon name="bi:telegram" class="w-6" />
  </a>
  <a
    href="https://https://www.reddit.com/user/_ImRay_"
    target="_blank"
    class={`${className}`}
  >
    <Icon name="bi:reddit" class="w-6" />
  </a>
</div>
